.container {
  background-image: url('/imgs/rega2.jpeg');
  background-size: 900px auto; /* Ширина 900px, высота автоматически */
  background-position: left center; /* Сдвигаем изображение влево и центрируем по вертикали */
  background-repeat: no-repeat; /* Запрещаем повторение изображения */
  min-height: 80vh; /* Минимальная высота на 80% экрана */
  display: flex;
  flex-direction: column; /* Располагаем элементы вертикально */

  padding: 20px; /* Добавляем отступы */
  width: 500px !important; /* Ширина контейнера на всю страницу */
}

.formContainer {
  background-color: rgba(96, 182, 56, 0.9) !important; /* Полупрозрачный зеленый фон для формы */
  padding: 2rem !important; /* Внутренние отступы */
  border-radius: 10px !important; /* Закругленные углы */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important; /* Тень для формы */
  width: 100% !important; /* Ширина формы */
  max-width: 800px !important; /* Максимальная ширина формы */
}

.buttonSubmit {
  margin-top: 1rem !important;
  background-color: #6a1b9a !important;
  border-color: #6a1b9a !important;
  color: white !important;
}

.buttonSubmit:hover {
  background-color: #7c4dff !important;
  border-color: #7c4dff !important;
}

/* Стили для изображения ниже формы */
.imageBelowForm {
  width: 100%; /* Ширина изображения */
  max-width: 500px; /* Максимальная ширина изображения */
  height: auto; /* Высота автоматически подстраивается */
  margin-top: 2rem; /* Отступ сверху */
  border-radius: 10px; /* Закругленные углы */
 
}
  
