/* TaskCard.module.css */

.taskCard {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc; /* Обводка карточки */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
  transition: transform 0.3s ease; /* Плавный эффект при наведении */
  text-align: center; /* Центрируем содержимое карточки */
  background-color: #fff; /* Цвет фона карточки */
  cursor: pointer; /* Курсор в виде указателя при наведении на карточку */
}

.taskCard:hover {
  transform: scale(1.05); /* Увеличение карточки при наведении */
}

.taskImage {
  width: 100px; /* Ширина изображения */
  height: 100px; /* Высота изображения */
  border-radius: 50%; /* Сделать изображение круглым */
  object-fit: cover; /* Обеспечивает правильное масштабирование картинки */
  margin-bottom: 10px; /* Отступ снизу */
  cursor: pointer; /* Курсор в виде указателя при наведении на изображение */
  border: none; /* Убираем рамку у картинки */
}

h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

p {
  font-size: 0.9rem;
  color: #555;
}
