.sidebar-container {
  padding: 20px;
  height: 100%;
  background-color: #ffffff;
  border-right: 2px solid #ddd; /* Линия, отделяющая сайдбар */
}

.sidebar-row {
  padding: 30px;
  border-bottom: 1px solid #ffffff;
  color: #5c5a5a;
  font-weight: bold;
  font-size: 1.6rem;
  position: relative;
  cursor: pointer;

  /* Плавный переход для transform и box-shadow */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

/* Эффект при наведении */
.sidebar-row:hover {
  transform: translateX(5px); /* Легкое смещение вправо */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Добавление мягкой тени */
}

/* Сброс стилей ссылки для всех кнопок в SideBar */
.sidebar-row a {
  text-decoration: none; /* Убирает подчеркивание */
  color: inherit; /* Наследует цвет от родителя */
}

.sidebar-row a:hover {
  text-decoration: none; /* Подчеркивание не появляется при наведении */
  color: inherit; /* Наследует цвет от родителя */
}

.sidebar-row__hover-bar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 150px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 0;
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.3s ease;
  opacity: 0;
}

.sidebar-row__hover-bar.visible {
  max-height: 200px;
  opacity: 1;
}

.sidebar-row__hoverbar-btn {
  min-width: 105%;
  background-color: #fcfdf5;
  text-align: left;
  color: #5c5a5a;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.sidebar-row__hoverbar-btn:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.sidebar-row__hoverbar-btn:hover {
  background-color: #ffffff;
}
